html {
  background-image: url("../Imagenes/Titulo/fondoMain.jpg"); 

}
.boton{
  position: absolute;
  left: 810px;
  top: 750px
}
.cursorSinPulsar{
    cursor: url("../Imagenes/Ajedrez/cursorStand.cur"),auto;
}
.cursorPulsado{
  cursor: url("../Imagenes/Ajedrez/cursorClick.cur"),auto;
}